<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mapper.PackageInfoMapper" >
  <resultMap id="BaseResultMap" type="com.st.pojo.PackageInfo" >
    <id column="package_id" property="packageId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="up_id" property="upId" jdbcType="VARCHAR" />
    <result column="difficulty" property="difficulty" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="edit_date" property="editDate" jdbcType="TIMESTAMP" />
    <result column="thumb_up" property="thumbUp" jdbcType="INTEGER" />
    <result column="thump_down" property="thumpDown" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <!--配置UserInfo-->
    <association property="ui" resultMap="uiMap" javaType="UserInfo" column="up_id"/>
    <!--配置packageQuestionCon-->
    <collection property="PackageQuestionsCon" resultMap="pqcMap"/>
  </resultMap>
  <!--配置Userinfo-->
  <resultMap id="uiMap" type="UserInfo">
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <!-- 配置school-->
    <association property="schoolInfo" resultMap="siMap" javaType="SchoolInfo" column="school_id"/>
  </resultMap>
  <!--配置packageQuestionCon-->
  <resultMap id="pqcMap" type="PackageQuestionsCon">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="package_id" property="packageId" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <!-- 配置QuestionInfo-->
    <association property="qi" resultMap="qiMap" javaType="QuestionInfo" column="question_id"/>
  </resultMap>
  <!-- 配置QuestionInfo-->
  <resultMap id="qiMap" type="QuestionInfo">
    <id column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="difficulty" property="difficulty" jdbcType="INTEGER" />
  </resultMap>
  <!--配置schoolInfo-->
  <resultMap id="siMap" type="SchoolInfo">
    <id column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="sname" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <!-- 根据 id 加载 一套题（1-5星级 10 道） 的-->
    <select id="getPackageByid" resultMap="BaseResultMap">
      select
		     p.package_id,p.name,p.count,p.content,p.thumb_up,p.thumb_down,p.`type`,p.up_id,
	     	 ui.nick_name,si.school_id,si.sname,pic.question_id
		from
	          package_info p ,package_questions_con pic,question_info qi,user_info ui,school_info si
	 	where
			  p.package_id=pic.package_id and pic.question_id=qi.question_id and p.up_id= ui.user_id
			  and ui.school_id=si.school_id and p.state=1 and p.package_id=#{id} and qi.difficulty <![CDATA[ <=5 ]]>
			  limit 0,10
    </select>
  <!-- 根据 id 加载 一套题（5-10星级 10 道） 的-->
  <select id="getPackageByid1" resultMap="BaseResultMap">
    select
           p.package_id,p.name,p.count,p.content,p.thumb_up,p.thumb_down,p.`type`,p.up_id,
           ui.nick_name,si.school_id,si.sname,pic.question_id
    from
           package_info p ,package_questions_con pic,question_info qi,user_info ui,school_info si
    where
           p.package_id=pic.package_id and pic.question_id=qi.question_id and p.up_id= ui.user_id
           and ui.school_id=si.school_id and p.state=1 and p.package_id=#{id} and qi.difficulty <![CDATA[ >=5 ]]>
           limit 0,10
  </select>
</mapper>