<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mapper.QuestionChoiceMapper" >
  <resultMap id="BaseResultMap" type="com.st.pojo.QuestionChoice" >
    <id column="choice_id" property="choiceId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="edit_date" property="editDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <!--添加选项-->
  <insert id="addChoice" parameterType="com.st.common.params.QuestionChoice">
    insert into question_choice
    <trim prefix="(" suffix=")">
      <if test="choiceId!=null">choice_id</if>
      <if test="content!=null">,content</if>
      <if test="url!=null">,url</if>
      <if test="type!=null">,type</if>
    </trim>
      values
      <trim prefix="(" suffix=")">
          <if test="choiceId!=null">#{choiceId}</if>
          <if test="content!=null">,#{content}</if>
          <if test="url!=null">,#{url}</if>
          <if test="type!=null">,#{type}</if>
      </trim>
  </insert>
</mapper>