<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mapper.QuestionSolveConMapper" >
  <resultMap id="BaseResultMap" type="com.st.pojo.QuestionSolveCon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="solve_id" property="solveId" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="eye_id" property="eyeId" jdbcType="VARCHAR" />
    <result column="knowledge_id" property="knowledgeId" jdbcType="INTEGER" />
    <result column="formula_id" property="formulaId" jdbcType="VARCHAR" />
    <result column="trap_id" property="trapId" jdbcType="VARCHAR" />
    <result column="eye_check" property="eyeCheck" jdbcType="INTEGER" />
    <result column="knowledge_check" property="knowledgeCheck" jdbcType="INTEGER" />
    <result column="formula_check" property="formulaCheck" jdbcType="INTEGER" />
    <result column="trap_check" property="trapCheck" jdbcType="INTEGER" />
    <!--配置knowledge_info-->
    <!--<association property="ki" resultMap="kiMap" javaType="KnowledgeInfo" column="knowledge_id" />-->
    <!--配置QuestionEye-->
   <!-- <association property="qe" resultMap="qeMap" javaType="QuestionEye" column="eye_id" />-->

    <!--配置QuestionTrap-->
    <!--<association property="qt" resultMap="qtMap" javaType="QuestionTrap" column="trap_id" />-->
    <!--配置FormulInfo-->
    <!--<association property="fi" resultMap="fiMap" javaType="FormulaInfo" column="formula_id" />-->
    <!--配置QuestionTrap-->

    <collection property="QuestionTrap" resultMap="qtMap"/>
    <!--配置FormulInfo-->
    <collection property="FormulaInfo" resultMap="fiMap"/>
    <!--配置QuestionEye-->
    <collection property="QuestionEye" resultMap="qeMap"/>
    <!-- 配置QuestionSolve-->
    <collection property="QuestionSolve" resultMap="qsMap"/>
    <!--配置knowledge_info-->
    <collection property="KnowledgeInfo" resultMap="kiMap"/>
  </resultMap>


    <!-- 配置QuestionSolve-->
  <resultMap id="qsMap" type="QuestionSolve">
    <id column="solve_id" property="solveId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="up_id" property="upId" jdbcType="VARCHAR" />
    <result column="thumb_down" property="thumbDown" jdbcType="INTEGER" />
    <result column="thumb_up" property="thumbUp" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <!-- 配置UserInfo-->
      <association property="userInfo" column="question_solve" resultMap="uiMap" javaType="UserInfo"/>
  </resultMap>

  <!--配置Userinfo-->
  <resultMap id="uiMap" type="UserInfo">
  <id column="user_id" property="userId" jdbcType="VARCHAR" />
  <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
  <!-- 配置school-->
  <association property="schoolInfo" resultMap="siMap" javaType="SchoolInfo" column="school_id"/>
</resultMap>
  <!-- 配置school-->
  <resultMap id="siMap" type="SchoolInfo">
    <id column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="sname" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <!--配置knowledge_info-->
  <resultMap id="kiMap" type="KnowledgeInfo">
    <id column="knowledge_id" property="knowledgeId" jdbcType="INTEGER" />
    <result column="kname" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <!--配置knowledge_info-->
  <resultMap id="qeMap" type="QuestionEye">
    <id column="eye_id" property="eyeId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <!--配置QuestionTrap-->
  <resultMap id="qtMap" type="QuestionTrap">
    <id column="trap_id" property="trapId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <!--配置FormulaInfo-->
  <resultMap id="fiMap" type="FormulaInfo">
    <id column="formula_id" property="formulaId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="up" property="up" jdbcType="VARCHAR" />
    <result column="down" property="down" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>

  <select id="getSolveByid" resultMap="BaseResultMap">

      select qs.solve_id,qs.content,qs.thumb_up,qs.thumb_down,qs.state,qs.up_id,
		    ui.nick_name,si.sname,ki.knowledge_id,ki.kname,qe.eye_id,qe.content,qe.`type`,
		    qt.trap_id,qt.content,qt.`type`
		    from
		          question_solve qs,question_solve_con qsc,knowledge_info ki,
				  question_eye qe,question_trap qt,formula_info fi,school_info si,user_info ui
		    where
				  qs.solve_id=qsc.solve_id and qs.up_id=ui.user_id and ui.school_id=si.school_id and
				  qsc.knowledge_id=ki.knowledge_id and qsc.eye_id=qe.eye_id and qsc.trap_id=qt.trap_id and
				  qsc.formula_id=fi.formula_id and qs.solve_id=#{id} and qs.state=1
  </select>
  <!--添加错法-->
    <insert id="addQuestionSolveCon" parameterType="com.st.common.params.QuestionSolveCon">
      insert into question_solve_con
      <trim prefix="(" suffix=")">
        <if test="solveId!=null">solve_id</if>
        <if test="questionId!=null">,question_id</if>
        <if test="knowledgeId!=null">,knowledge_id</if>
        <if test="knowledgeCheck!=null">,knowledge_check</if>
        <if test="eyeId!=null">,eye_id</if>
        <if test="eyeCheck!=null">,eye_check</if>
        <if test="trapId!=null">,trap_id</if>
        <if test="trapCheck!=null">,trap_check</if>
        <if test="formulaId!=null">,formula_id</if>
        <if test="formulaCheck!=null">,formula_check</if>
      </trim>
      values
      <trim prefix="(" suffix=")">
        <if test="solveId!=null">#{solveId}</if>
        <if test="questionId!=null">,#{questionId}</if>
        <if test="knowledgeId!=null">,#{knowledgeId}</if>
        <if test="knowledgeCheck!=null">,#{knowledgeCheck}</if>
        <if test="eyeId!=null">,#{eyeId}</if>
        <if test="eyeCheck!=null">,#{eyeCheck}</if>
        <if test="trapId!=null">,#{trapId}</if>
        <if test="trapCheck!=null">,#{trapCheck}</if>
        <if test="formulaId!=null">,#{formulaId}</if>
        <if test="formulaCheck!=null">,#{formulaCheck}</if>
      </trim>
    </insert>
  <update id="updateQuestionSolveCon" parameterType="com.st.common.params.QuestionSolveCon">
    update question_solve_con set knowledge_id=#{knowledgeId},knowledge_check=#{knowledgeCheck},
            eye_id=#{eyeId},eye_check=#{eyeCheck},trap_id=#{trapId},trap_check=#{trapCheck},
            formula_id=#{formulaId},formula_check=#{formulaCheck} where eye_id=#{eyeIdOld}
  </update>
  <!--删除原来的eyeID-->
  <delete id="delEyeById">
    delete from question_eye where eye_Id=#{eyeIdOld}
  </delete>
  <!--判断用户是哦福有删除权限-->
  <select id="queryUserById" resultType="int">
  select 1 from question_solve where up_id=#{0} and solve_id=#{1}
  </select>

  <!--根据solveId删除解题思路-->
  <delete id="delQoestionSolveById">
    delete from question_solve_con where solve_id=#{solveId}
  </delete>
</mapper>