<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mapper.QuestionSolveMapper" >
  <resultMap id="BaseResultMap" type="com.st.pojo.QuestionSolve" >
    <id column="solve_id" property="solveId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="up_id" property="upId" jdbcType="VARCHAR" />
    <result column="thumb_down" property="thumbDown" jdbcType="INTEGER" />
    <result column="thumb_up" property="thumbUp" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="edit_date" property="editDate" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>

  <!--添加思路-->
  <insert id="addQuestionSolve" parameterType="com.st.common.params.QuestionSolve">
    insert into question_solve
    <trim prefix="(" suffix=")">
      <if test="solveId!=null">solve_id</if>
      <if test="content!=null">,content</if>
      <if test="upId!=null">,up_id</if>
      <if test="questionId!=null">,question_id</if>
    </trim>
    values
    <trim prefix="(" suffix=")">
      <if test="solveId!=null">#{solveId}</if>
      <if test="content!=null">,#{content}</if>
      <if test="upId!=null">,#{upId}</if>
      <if test="questionId!=null">,#{questionId}</if>
    </trim>
  </insert>

  <!--判断该用户是否有操作权限-->
  <select id="queryBySolveId" resultType="int">
    select 1 from question_solve where up_id=#{0} and solve_id=#{1}
  </select>

  <update id="updateSolve" parameterType="com.st.common.params.QuestionSolve">
    update question_solve set content=#{content} where solve_id=#{solveId} and question_id=#{questionId}
  </update>

</mapper>