<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.st.pojo.UserInfo" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="group_ranking" property="groupRanking" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="edit_date" property="editDate" jdbcType="TIMESTAMP" />
    <result column="knowledge_count" property="knowledgeCount" jdbcType="INTEGER" />
    <result column="wallet" property="wallet" jdbcType="DOUBLE" />
    <result column="login_date" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="BIGINT" />
  </resultMap>
  <!--根据用户id查询用户类型-->
  <select id="checkAuhority" resultMap="BaseResultMap">
     select type from user_info ui where ui.user_id=#{uId}
  </select>
</mapper>